/*
    @placeholder lang.erlang
*/
function.name {
	color: #3a4a87;
}
numeric {
	color: #4336ff;
}

erlang.kw {
    color: #0000ff;
    font-weight: bold;
}

erlang.bif {
    color:#930000;
}
missing {
	color: #fff;
	background-color: #cc0000;
	font-weight: bold;
}
erlang.atom {
    color: #ce0000;
}

sourcecode.erlang> macro>macro.name {
    color: #8d0000;
}
erlang, sourcecode { spell-check: disabled; }

punctuation.function.beginbody {
	font-weight: bold;    
}

sourcecode.erlang > function > function.clause > function.name {
    color: #3a4a87;
}